<div class="popup-info rounded p-2 border border-light-blue shadow" style="background-image: linear-gradient(90deg, #a3ecf7, #f7f7c6);">
  <h2 class="mb-2"><%= island.title %></h2>
  <p class="mb-0">Price from $<%= island.price_per_night %> per night</p>
</div>
