<div class="badge rounded-pill fs-5 border border-dark" style="background-image: linear-gradient(90deg, #7bdb7e, #36cae0);">
  <%= image_tag "beach_umbrella.png", class: "rounded-circle", height: 40, width: 40, alt: "Logo" %>
  <%= island.address.split(',').first %>
</div>
