<h1>Booking Details</h1>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<%= @booking.status %>
<% if @booking.status == 'Pending' %>
  <%= link_to 'Decline Booking', decline_island_booking_path(@booking.island, @booking),  data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to decline this booking?' } %>
<% end %>