<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallart.com/media/catalog/product/cache/871f459736130e239a3f5e6472128962/w/0/w05086-small.jpg);">
  <div class="container">
    <h1>Welcome to <strong>EarthBNB</strong>!</h1>
    <p><strong>A place where you can find the perfect island to book</strong></p>
  </div>
</div>
