<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/2083780.jpg); background-size: cover; background-position: center bottom;">
  <div class="container">
    <h1>Welcome to <strong>EarthBNB</strong>!</h1>
    <p><strong>A place where you can find the perfect island to book</strong></p>
    <%= link_to "Show me the islands", islands_path, class: "btn-islands" %>
  </div>
</div>
