.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  height: calc(100% - 110px);

  h1 {
    font: 1.5em Raleway, sans-serif;
    font-weight: 900;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 60px;
    margin-left: 100px;
  }
  
  p {
    font: 1.5em Raleway, sans-serif;
    font-size: 32px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

.btn-islands {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, rgb(171, 210, 171) 0%, rgb(255, 255, 191) 50%, rgb(182, 241, 241) 100%);
  background: linear-gradient(to right, rgb(180, 244, 180) 0%, rgb(250, 250, 200) 50%, rgb(190, 253, 253) 100%);
  background-size: 500%;
  text-decoration: none;
  margin-left: 90px;
  border: none;
  padding: 20px;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  color: rgb(48, 44, 44);
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: .05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
  font-weight: bold;
}

.btn-islands:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
