.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-category {
  width: 20rem;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 0.75rem;
  }
  p {
    font-size: 12px;
    margin: 0;
    padding-top: 0.5rem;
  }
}
.card{
  border-radius: 5px;
  padding: 0.25rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  .card-trip-infos{
    padding-left: 1rem;
    padding-right: 0;
    display: flex;
    flex-grow: 1;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0.75rem;
  }
}
// }
