#authentication{
  margin-top: 1rem;
  .col-lg-4{
    background-color: linear-gradient(90deg, #90E4FF 94%, #A4FFA3 80%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
}

#cards{
  display: flex;
  width: 100vw;
  margin: 1rem;
  margin-left: 3rem;

  .row{
    margin-left: 0;
    margin-right: 0;
  }

  h1{
    font-size: 50px;
    font-weight: bold;
  }
}

#show{
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

  h3{
    font-size: 50px;
    font-weight: bold;
  }
  p{
    font-size: 25px;
  }

  h2{
    font-size: 60px;
    font-weight: bold;
  }
  .card-trip-infos{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
  }
}
