#authentication{
  margin-top: 1rem;
  .col-lg-4{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

#cards{
  display: flex;
  width: 100vw;
  margin-left: 3rem;

  .row{
    margin-left: 0;
    margin-right: 0;
  }

  h1{
    font-size: 50px;
    font-weight: bold;
  }
}

#show{
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 70%;
  margin-top: 0;
  border-radius: 5px;
  margin-left: 0;
  margin-right: auto;

  h3{
    font-size: 50px;
    font-weight: bold;
    margin-left: 1rem;
  }
  p{
    font-size: 25px;
  }

  h2{
    font-size: 60px;
    font-weight: bold;
  }
  .card-trip-infos{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
  }
}

.forms{
  background-color: none;
  width: 28%;
  height: 60%;
  padding: 0;
  margin-top: 0;

  #booking-form{
    padding: 1rem;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  #review-form{
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .btn-secondary{
    margin-top: 1.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}
