#authentication{
  margin-top: 1rem;
  .col-lg-4{
    background-color: linear-gradient(90deg, #90E4FF 94%, #A4FFA3 80%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
}

#cards{
  display: flex;
  width: 100vw;
  margin-left: 3rem;

  h1{
    font-size: 50px;
    font-weight: bold;
  }
}
