.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(90deg, #f6f6ce, #24bbd2 );
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 10px;
}

#EarthBNB {
  background-image: linear-gradient(
    to right,
    #f6fbc8,
    #beef9b 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#EarthBNB:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#EarthBNB:hover {
  background-position: 0;
}

#EarthBNB:hover::before {
  width: 100%;
}

body {
  position: relative;
}

body::before {
  content: "";
  background-image: url('https://img.freepik.com/free-photo/sandy-beach-texture_1232-454.jpg?w=1480&t=st=1693495361~exp=1693495961~hmac=dafa9ec84956230ebb59f95995255a3c187e5dbaa25b4aab58b4a6952f686346');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
