.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(90deg, #f6f6ce, #24bbd2 );
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 10px;
}

body{
  background-color: #edeecc;
}
