.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(90deg, #f6f6ce, #24bbd2 );
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 10px;
}
